
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/User/_Layout.cshtml";
}

<h1>Register</h1>

<form class="row g-3">
    <div class="mb-3">
        <label for="inputAddress" class="form-label">Nom</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="mb-3">
        <label for="inputState" class="form-label">Secteur d'activité</label>
        <select id="inputState" class="form-select">
            <option selected>Choose...</option>
            <option>...</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Password</label>
        <input type="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-md-6">
        <label for="inputPassword5" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="inputPassword5">
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
</form>